<!-- go -->
<div id="logo">
  <h1 class="mobileUI-site-name">后台管理</h1>
</div>
<!-- Nav -->
<nav id="nav" class="mobileUI-site-nav">
<ul>
  <li class="<%= ["new"].include?(params[:action]) ? 'current_page_item' : '' %>">
  <%= link_to "新建文章", new_admin_blog_path %>
  </li>
  <li class="<%= !["new"].include?(params[:action]) ? 'current_page_item' : '' %>">
  <%= link_to "文章列表", admin_blog_index_path %>
  </li>
</ul>
</nav>
<!-- Copyright -->
<div id="copyright">
  <p>
  &copy; 2013 An Untitled Site.
  </p>
</div>
