<div>
  <div id="title_div">
    <%= text_field_tag :title, params[:title] || @blog.try(:title), :class => "title_input" %> 
  </div>
  <div><%=kindeditor_tag :content1, params[:content1] || @blog.try(:content), 
    :editor_id => "my_editor",
    :cssPath => "/assets/kindeditor/plugins/code/prettify.css"
    # :items => [
    #   'code', 'fontsize',  'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
    #   'removeformat', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
    #   'insertunorderedlist', 'emoticons', 'image', 'link']
  %>
</div>
</div>
