<div>
  <div id="title_div">
    <%= b.text_field :title,:class => "title_input" %> 
  </div>
  <div><%=b.kindeditor :content, 
    :editor_id => "my_editor",
    :cssPath => "/assets/kindeditor/plugins/code/prettify.css"
    # :items => [
    #   'code', 'fontsize',  'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
    #   'removeformat', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
    #   'insertunorderedlist', 'emoticons', 'image', 'link']
  %>
</div>
</div>
