<%= errors_for @blog %>
<div>
  <h2>编辑文章</h2>
  <%= form_for @blog, :url => admin_blog_path(@blog) ,:method => "put" do |b| %>
    <%= render partial: "form", :locals => {:b => b} %> 
    <%= submit_tag "保存" %>
  <% end %>
</div>
