<%= errors_for @blog %>
<div>
  <h2>撰写新文章</h2>
  <%= form_for @blog, :url => admin_blog_index_path  do |b|%>
    <%= render partial: "form", :locals => {:b => b} %> 
    <%= submit_tag "提交" %>
  <% end %>
</div>
