
<!-- go -->
<div id="logo">
  <h1 class="mobileUI-site-name">STRIPED</h1>
</div>

<!-- Nav -->
<nav id="nav" class="mobileUI-site-nav">
<ul>
  <li class="current_page_item"><a href="#">Latest Post</a></li>
  <li><a href="#">Archives</a></li>
  <li><a href="#">About Me</a></li>
  <li><a href="#">Contact Me</a></li>
</ul>
</nav>

<!-- Search -->
<section class="is-search is-first">
<form method="post" action="#">
  <input type="text" class="text" name="search" placeholder="Search" />
</form>
</section>

<!-- Text -->
<section class="is-text-style1">
<div class="inner">
  <p>
  </p>
</div>
</section>

<!-- Copyright -->
<div id="copyright">
  <p>
  &copy; 2013 An Untitled Site.
  </p>
</div>
