<div>
  <p>
  QQ:<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=690015301&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:690015301:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
  </p>
  <p>email:<%=image_tag "/assets/images/email.png" %></p>
  <!-- <p>源码：<a href="https://github.com/zhusan/myblog" target="_blank">https://github.com/zhusan/myblog</a> -->
</div>

