<div id="content-inner">
  <% @blogs.each do |blog| %>
    <!-- Post -->
    <%= render partial: "/blog/content", :locals => {:blog => blog} %>
    <%= render partial: "/duoshuo_comment/duoshuo_comments", :locals => {:blog => blog,:show =>false} %>
  <% end %>
  <!-- Pager -->
  <div class="pager">
    <%= will_paginate @blogs %>
  </div>
</div>
