<div id="content-inner">
  <!-- Pager -->
  <div class="pager">
    <%= will_paginate @blogs %>
  </div>

  <% if @blogs.present? %>
    <% @blogs.each do |blog| %>
      <!-- Post -->
      <%= render partial: "/blog/content", :locals => {:blog => blog} %>
      <%= render partial: "/duoshuo_comment/duoshuo_comments", :locals => {:blog => blog,:show =>false} %>
    <% end %>
  <% else %>
    <div> 无文章！</div>
  <% end %>
  <!-- Pager -->
  <div class="pager">
    <%= will_paginate @blogs %>
  </div>
</div>
