// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentlist {
  list-style: none outside none;
  margin: 0 auto;
  width: 100%;
}
#comments-title {
  color: #666666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.6em;
  padding: 0 0 2.6em;
  text-transform: uppercase;
}
.content .commentlist, .page-template-sidebar-page-php .commentlist {
  width: 100%;
}
.commentlist > li.comment {
  background: none repeat scroll 0 0 #F6F6F6;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  margin: 0 0 1.625em;
  padding: 1.625em;
  position: relative;
}
.commentlist .pingback {
  margin: 0 0 1.625em;
  padding: 0 1.625em;
}
.commentlist .children {
  list-style: none outside none;
  margin: 0;
}
.commentlist .children li.comment {
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #DDDDDD;
  border-radius: 0 3px 3px 0;
  margin: 1.625em 0 0;
  padding: 1.625em;
  position: relative;
}
.commentlist .children li.comment .fn {
  display: block;
}
.comment-meta .fn {
  font-style: normal;
}
.comment-meta {
  color: #666666;
  font-size: 12px;
  line-height: 2.2em;
}
.commentlist .children li.comment
.comment-meta {
  line-height: 1.625em;
  margin-left: 50px;
}
.commentlist .children li.comment
.comment-content {
  margin: 1.625em 0 0;
}
.comment-meta a {
  font-weight: bold;
}
.comment-meta a:focus, .comment-meta
a:active, .comment-meta a:hover {
}
.commentlist .avatar {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px #CCCCCC;
  left: -70px;
  padding: 0;
  position: absolute;
  top: 0;
}
.commentlist > li:before {
  content:
  url("images/comment-arrow.png");
  left: -21px;
  position: absolute;
}
.commentlist > li.pingback:before
{
  content: "";
}
.commentlist .children .avatar {
  background: none repeat scroll
  0 0 transparent;
  box-shadow: none;
  left: 2.2em;
  padding: 0;
  top: 2.2em;
}
a.comment-reply-link {
  background: none repeat
  scroll 0 0 #EEEEEE;
  border-radius: 3px 3px
  3px 3px;
  color: #666666;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  text-decoration:
  none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active
{
  background: none
  repeat scroll 0 0
  #888888;
  color: #FFFFFF;
}
a.comment-reply-link >
span {
  display:
  inline-block;
  position: relative;
  top: -1px;
}
.commentlist >
li.bypostauthor {
  background: none
  repeat scroll 0 0
  #DDDDDD;
  border-color:
  #D3D3D3;
}
.commentlist >
li.bypostauthor
.comment-meta {
  color: #575757;
}
.commentlist >
li.bypostauthor
.comment-meta a:focus,
.commentlist >
li.bypostauthor
.comment-meta a:active,
.commentlist >
li.bypostauthor
.comment-meta a:hover {
}
.commentlist >
li.bypostauthor:before {
  content:
  url("images/comment-arrow-bypostauthor.png");
}
.commentlist .children >
li.bypostauthor {
  background: none repeat
  scroll 0 0 #DDDDDD;
  border-color: #D3D3D3;
}
#respond {
  background: none repeat scroll 0 0 #DDDDDD;
  border: 1px solid #D3D3D3;
  border-radius: 3px 3px 3px 3px;
  margin: 0 auto 1.625em;
  padding: 1.625em;
  position: relative;
  width: 100%;
}
#respond input[type="text"], #respond textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 3px rgba(204, 204, 204, 0.95) inset;
  padding: 10px;
  position: relative;
  text-indent: 80px;
}
#respond .comment-form-author, #respond
.comment-form-email, #respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author label, #respond
.comment-form-email label, #respond .comment-form-url
label, #respond .comment-form-comment label {
  background: none repeat scroll 0 0 #EEEEEE;
  box-shadow: 1px 2px 2px rgba(204, 204, 204,
  0.8);
  color: #555555;
  display: inline-block;
  font-size: 13px;
  left: 4px;
  min-width: 60px;
  padding: 4px 10px;
  position: relative;
  top: 40px;
  z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus,
#respond .ke-container:focus{
  text-indent: 0;
  z-index: 1;
}
#respond textarea {
  resize: vertical;
  width: 95%;
}
#respond .comment-form-author
.required, #respond
.comment-form-email .required {
  color: #BD3500;
  font-size: 22px;
  font-weight: bold;
  left: 75%;
  position: absolute;
  top: 45px;
  z-index: 1;
}
#respond
.comment-notes,
#respond
.logged-in-as {
  font-size: 13px;
}
#respond p {
  margin: 10px 0;
}
#respond
.form-submit {
  float: right;
  margin: -20px
  0 10px;
}
#respond
input#submit {
  background: none
  repeat scroll 0 0
  #222222;
  border: medium
  none;
  border-radius: 3px
  3px 3px 3px;
  box-shadow: 0 1px
  2px rgba(0, 0, 0,
  0.3);
  color: #EEEEEE;
  cursor: pointer;
  font-size: 15px;
  left: 30px;
  margin: 20px
  0;
  padding: 5px
  42px 5px 22px;
  position:
  relative;
  text-shadow:
  0 -1px 0
  rgba(0, 0, 0,
  0.3);
}
#respond
input#submit:active {
  background: none
  repeat scroll 0 0
  #1982D1;
  color: #BFDDF3;
}
#respond
#cancel-comment-reply-link
{
  color: #666666;
  margin-left: 10px;
  text-decoration:
  none;
}
#respond .logged-in-as
a:hover, #respond
#cancel-comment-reply-link:hover
{
  text-decoration:
  underline;
}
.commentlist #respond {
  margin: 1.625em 0 0;
  width: auto;
}
#reply-title {
  color: #373737;
  font-size: 24px;
  font-weight:
  bold;
  line-height:
  30px;
}
#cancel-comment-reply-link
{
  color: #888888;
  display:
  block;
  font-size:
  10px;
  font-weight:
  normal;
  letter-spacing:
  0.05em;
  line-height:
  2.2em;
  position:
  absolute;
  right:
  1.625em;
  text-decoration:
  none;
  text-transform:
  uppercase;
  top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover
{
  color:
  #FF4B33;
}
#respond label {
  line-height:
  2.2em;
}
#respond
input[type="text"] {
  display: block;
  height: 52px;
  width: 75%;
}
#respond p {
  font-size:
  12px;
}
p.comment-form-comment
{
  margin: 0;
}
