<!-- Duoshuo Comment BEGIN -->
<% if show %>
    <div class="ds-thread" data-thread-key="<%=blog.id%>" data-title="<%=blog.title%>" data-author-key="<%=blog.user_id%>"></div>
<% end %>
<!-- Duoshuo Comment END -->

